service stats {
    unix_listener stats-reader {
        user = {{ vmail_user }}
        group = {{ vmail_group }}
        mode = 0660
    }

    unix_listener stats-writer {
        user = {{ vmail_user }}
        group = {{ vmail_group }}
        mode = 0660
    }
}
