service stats {
    unix_listener stats-reader {
        user = {{ mailserver_vmail_user }}
        group = {{ mailserver_vmail_group }}
        mode = 0660
    }

    unix_listener stats-writer {
        user = {{ mailserver_vmail_user }}
        group = {{ mailserver_vmail_group }}
        mode = 0660
    }
}
