#!/usr/sbin/nft -f

# Ansible managed.

flush ruleset

table inet filter {
    chain input {
        type filter hook input priority 0; policy {{ nftables_input_policy }};

        iif lo accept comment "Accept any localhost traffic"
        ct state invalid drop comment "Drop invalid connections"
        ct state established,related accept comment "Accept traffic originated from us"

        tcp flags & (fin|syn|rst|psh|ack|urg) == fin|syn|rst|psh|ack|urg counter drop comment "Drop XMAS packets"
        tcp flags & (fin|syn|rst|psh|ack|urg) == 0x0 counter drop comment "Drop NULL packets"

        {% for rule in nftables_input_rules %}
            {{ rule }}
        {% endfor %}
    }
    chain forward {
        type filter hook forward priority 0; policy {{ nftables_forward_policy }};
        {% for rule in nftables_forward_rules %}
            {{ rule }}
        {% endfor %}

    }
    chain output {
        type filter hook output priority 0; policy {{ nftables_output_policy }};
        {% for rule in nftables_output_rules %}
            {{ rule }}
        {% endfor %}
    }
}
