# Managed by Ansible
[Unit]
Description=Home Assistant home automation
After=network-online.target
Wants=network-online.target

[Service]
# WorkingDirectory={{ homeassistant_dir }}
ExecStart={{ homeassistant_dir }}/bin/hass -c "{{ homeassistant_config_dir }}"
User=homeassistant
Group=homeassistant
Restart=on-failure

[Install]
WantedBy=multi-user.target
